.Container-navuno{
  width: 100%;
display: inline-flex;
justify-content: right;
background-color: cadetblue;
}
 a{
display: inline-flex;
  justify-content: center;
  text-align: end;
  padding: 10px;
  text-decoration: none;
  color: black;
 
}

