.Container-navuno{
  width: 100%;
display: grid;
grid-template-columns: 1fr 2fr;
background-color: #1ec1e4;;

}

.Container-navuno, .barra > a{
display: inline-flex;
justify-content: center;
align-items: center;
  padding: 10px;
  text-decoration: none;
  color: white;
  font-weight: 400;
  
 
}



