.Container-navuno{
  width: 100%;
display: inline-flex;
justify-content: center;
background-color: #1ec1e4;;

}
.Container-navuno, .barra > a{
display: inline-flex;
  
  padding: 10px;
  text-decoration: none;
  color: white
 
}

